table{
    border:1px solid black;
}
th{
    border:1px solid black;
}
td{
    border:1px solid black;
    width: 500px;
    height: 50px;
}

/* Định kiểu cho vùng chứa Tooltip */
.eventName {
    position: relative;
    display: inline-block;
    border-bottom: 1px dotted black; /* Thêm dấu chấm dạng gạch chân cho văn bản */
}

/* Định dạng text trong tooltip */
.eventName .eventTime {
    visibility: hidden;
    width: 200px;
    background-color: black;
    color: #fff;
    text-align: center;
    padding: 10px 0;
    border-radius: 6px;

    /* Xác định vị trí tooltip */
    position: absolute;
    z-index: 1;
}

/* Cho hiển thị tooltip khi di chuột qua vùng chứa tooltip */
.eventName:hover .eventTime {
    visibility: visible;
}